body {
    margin: 0px;
    font-family: "IBM Plex Sans", sans-serif;
    
    --color-content: #444;
    --color-navigating: rgb(38, 114, 255);
    --color-header: #2980b9;
    --color-header-text: #fff;

    --font-content-header: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    --font-content-text: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    --font-sidebar: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    --font-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier,
        monospace;

    --height-header: 40px;
}
p {
    line-height: 24px;
}

img {
    max-width: 100%;
    height: auto;
}
.img-wrapper {
    /* All img tags are additionally wrapped by .img-wrapper so that we can:
       - Apply an absolute (in pixels) max-width to the wrapper, constraining the max
         size of all images to some max pixel size.
       - Apply a relative (100%)) max-width to the img, constraining the img to ALWAYS shrink
         as necessary to fit in the current window width.
    */
    max-width: 700px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-content-header);
    font-weight: 700;
    margin: 5px 0px;
}
h1 {
    font-size: 175%;
}
h1,
h2 {
    color: var(--color-content);
}
h3,
h4,
h5,
h6 {
    color: #585858;
}
code {
    color: #008c8c;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2px 5px;
    font-family: var(--font-code);
    background: #fff;
    border: solid 1px #e1e4e5;
    font-size: 75%;
}
a {
    color: #2980b9;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #3091d1;
}
a:visited {
    color: #9b59b6;
}
.no-anchor-style,
.no-anchor-style:visited,
.no-anchor-style:hover,
.no-anchor-style:active {
    text-decoration: none;
    color: inherit;
}
strong {
    font-weight: 600;
    color: black;
}
hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.root-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* background-color: pink; */
}
blockquote {
    color: #9b59c7;
    border-left: 8px solid #ccc;
    padding: 0px 12px;
}
.main-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
    /* -webkit-overflow-scrolling: touch; */
    /* padding: 5px 30px 5px 20px; */
    padding: 0px;
}
.nav-header {
    display: none;
    background-color: var(--color-header);
    color: var(--color-header-text);
    /* height: 40px; */
    line-height: var(--height-header);
    text-align: center;
    vertical-align: middle;
    padding: 0px 10px;
    font-family: var(--font-sidebar);
}
.nav-header i{
    font-size: 25px;
    float: left;
    cursor: pointer;
    padding-top: inherit;
    line-height: var(--height-header);
    /* display: inline-block; */
}
.content-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
}
.content-right-margin{
    /* Because scrolling happens in the enclosing .main-container,  right padding in the 
       .content-container is ignored. To create a right pad sufficient to keep text visible,
       we instead use this .content-right-margin div to force a small gap. */
    width: 10px;
    /* background-color: orange; */
}
.content-container {
    width: 100%;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    /* background-color: palegreen; */
    /* margin-right: 30px; */
    padding: 10px 0px 10px 20px;
    color: var(--color-content);
    font-family: var(--font-content-text);
}
.content-container ul {
    line-height: 24px;
    padding-left: 25px;
}
.content-container li img {
    /* Force bulleted images to have their bullet at the top, rather than the bottom */
    vertical-align: top;
}
.sidebar-container {
    flex: 0 0 auto;
    /* width: 260px; */
    width: 280px;
    height: 100vh;
    /* padding: 10px; */
    background-color: #343131;
    color: var(--color-header-text);

    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: var(--font-sidebar);
    /* justify-content: center; */
    /* align-content: center; */
    color: white;
    height: 55px;
    background-color: var(--color-header);
}
.sidebar-header i {
    margin-right: 5px;
}
.sidebar-title {
    flex: none;

    margin-bottom: 8px;
    /* No select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sidebar-main {
    padding: 10px;
    background-color: #343131;
    font-family: var(--font-sidebar);

    overflow-x: hidden;
    overflow-y: auto;
}
.section-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
    color: white;
    margin: 8px 0px 2px 0px;
    user-select: none;

    /* No select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#search-text {
    /* margin: 10px; */
    border-radius: 12px;
    border: 0px;
    font-size: 12px;
    /* height: 20px; */
    padding: 5px 9px;
    /* margin: 0px 30px; */
    width: 90%;
}
.copyright {
    color: #bbb;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .nav-header {
        display:block;
    }
    .sidebar-container{
        /* left: -300px; */
        display: none;
    }
   

    /* ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
        height: 0px;
        bottom: 0px;
    } */
}

@supports (-webkit-touch-callout: none) {
    /* This selector detects iOS devices only */ 
    .main-container {
        /* iOS handles the overflow scrolling badly in this situation, so disable it*/
        overflow-x: visible;
        overflow-y: visible;
    }
}
.sidebar-container.force-show {
    display: block;
}
.highlight{
    background-color: #F0EE50;
    padding: 2px 5px;
    border-radius: 4px;
    color: black;
}
/* --------------------------
   notices
   -------------------------- */
.notices{
    margin: 30px 10px 30px 0px;
    padding: 10px;
    border-top-style: solid;
    border-top-width: 30px;
}
.notices.info {
    background-color: #e5f0ff;
    border-color: #648CE4; 
}
.notices.note {
    background-color: #FCEED8;
    border-color: #E6AC58; 
}
.notices.tip {
    background-color: #E7FBE2;
    border-color: #75BF5C; 
}
.notices.warning {
    background-color: #FBE6E5;
    border-color: #D86A65; 
}
.notices .label{
    color:#FFF;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: -35px;
}
.notices .label i{
    margin-right: 10px;
}

/* --------------------------
   scrollbar
   -------------------------- */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 12px;
    bottom: -10px;
}
.sidebar-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(124, 124, 124);
}
.main-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(190, 190, 190);
}
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* --------------------------
   menu-tree specific
   -------------------------- */

.menu-tree {
    font-family: var(--font-sidebar);
    /* font-family: 'IBM Plex Sans', sans-serif; */
    color: rgb(212, 212, 212);
    font-weight: 400;
    font-size: 11pt;
    font-weight: 400;
}

.menu-tree a,
.menu-tree a:visited,
.menu-tree a:hover,
.menu-tree a:active {
    color: inherit;
    text-decoration: none;
}

/* Remove default bullets */
.menu-tree,
.menu-tree ul {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.menu-tree {
    margin: 0;
    padding: 0;
}

/* Hide the nested list */
.menu-tree .nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.menu-tree .active {
    display: block;
}

.menu-tree .caret {
    /* margin: 0px 5px 0px 0px; */
    width: 17px;
    height: 17px;
    /* padding-top: 2px; */
    display: inline-block;
    /* background-color: orange; */
    text-align: center;
    transform: rotate(0deg);
    transition-duration: 0.2s;
    color: rgb(139, 139, 139);
}

.menu-tree .no_child {
    /* margin-left: 20px; */
    padding-left: 20px;
}

.menu-tree .caret-down {
    transform: rotate(90deg);
    transition-duration: 0.2s;
}

.menu-tree ul {
    /* List item indent distance */
    padding-left: 20px;
}
.menu-tree .selected {
    background-color: #666;
}
.menu-tree .navigating {
    /* shown when we are navigating to a new location (document), but haven't finished loading it yet */
    background-color: var(--color-navigating);
}
.menu-tree li {
    margin: 6px 0px;
}
.menu-tree li span {
    display: block; /*this makes the span as wide as the li*/
    cursor: pointer;
    border-radius: 7px;
    padding: 1px 0px 2px 4px;

    /* No select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu-tree li span:hover {
    background-color: #484848;
}
.menu-tree li .selected:hover {
    background-color: #888;
}
.menu-tree li .navigating:hover {
    background-color: var(--color-navigating);
}

/* --------------------------
   menu-tree manipulations
   -------------------------- */
.menu-text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.menu-left-piece {
    /* As flex child */
    flex-grow: 0;
    flex-shrink: 0;
    width: 40px;
    /* background-color: orange; */
}
.menu-left-piece.wide {
    width: 45px;
}
.menu-right-piece {
    /* As flex child */
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    /* background-color: lime; */
}
.menu-tree .caret-placeholder {
    width: 17px;
    height: 17px;
    display: inline-block;
    /* background-color: purple; */
}